.buttonCard,
.buttonLogin, 
.buttonOccurrence {
  height: 45px;
  background-color: var(--color-EY-yellow);
  color: var(--color-EY-offBlack);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}
.buttonCard {
  max-width: 1024px;
  width: 100%;
  margin: 30px 0 0;
}
.buttonOccurrence {
  width: 100%;
} 
.buttonLogin {
  width: 90%;
} 
.buttonHistory {
  width: 100%;
  margin: 20px auto;
  height: 45px;
  border-radius: 3px;
  background-color: var(--color-EY-yellow);
  color: var(--color-EY-offBlack);
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.buttonTerms,
.buttonPhoto,
.modalOccurrence {
  width: 250px;
  background: var(--color-EY-yellow);
  color: var(--color-EY-offBlack);
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 3px;
  margin: 10px 0 50px 0;
}
.buttonPhoto {
  margin-bottom: 10px;
}
.button:active,
.buttonLogin:active,
.logout:active {
  transform: translateY(3px);
}
.modalOccurrence {
  width: 100%;
  margin: 30px 0 0;
}
.logout {
  width: 50px;
  height: 30px;
  background-color: var(--color-EY-yellow);
  border-radius: 3px;
  cursor: pointer;
  justify-self: end;
}
.closeModal {
  width: 50px;
  height: 30px;
  font-weight: 600;
  background-color: var(--color-EY-yellow);
  border-radius: 3px;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
}
.payment {
  width: 100%;
  color: var(--color-EY-offWhite);
  background-color: rgb(255, 69, 69);
  font-weight: 600;
  padding: 10px 5px;
  font-size: 0.75rem;
}

@media screen and (min-width: 550px) and (max-width: 1000px) {
  .logout,
  .closeModal {
    width: 60px;
  }
}

@media screen and (min-width: 1001px) {
  .logout,
  .closeModal {
    width: 70px;
  }
}
