.button,
.buttonLogin {
  height: 45px;
  background-color: var(--color-EY-yellow);
  color: var(--color-EY-offBlack);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}
.button {
  max-width: 1024px;
  width: 100%;
}
.buttonLogin {
  max-width: 600px;
  width: 90%;
}
.buttonInternal {
  width: 90%;
  margin: 20px auto;
  height: 45px;
  border-radius: 3px;
  background-color: var(--color-EY-yellow);
  color: var(--color-EY-offBlack);
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.buttonSendOcurrence {
  height: 45px;
  padding: 50px;
  background-color: var(--color-EY-yellow);
  color: var(--color-EY-offBlack);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}
.logout {
  width: 50px;
  height: 30px;
  background-color: var(--color-EY-yellow);
  border-radius: 3px;
  cursor: pointer;
  justify-self: end;
}
.button:active,
.buttonLogin:active,
.logout:active {
  transform: translateY(3px);
}
.payment {
  color: var(--color-EY-offWhite);
  background-color: rgb(255, 69, 69);
  font-weight: 600;
  padding: 10px 0;
}
.buttonTerms {
  background: var(--color-EY-yellow);
  color: var(--color-EY-offBlack);
  font-weight: 600;
  padding: 5px 20px;
  margin: 10px 0 50px 0;
}

@media screen and (min-width: 550px) and (max-width: 1000px) {
  .button {
    height: 55px;
    font-size: 1.25rem;
  }
  .logout {
    width: 60px;
  }
}

@media screen and (min-width: 1001px) {
  .button {
    height: 60px;
    font-size: 1.375rem;
  }
  .logout {
    width: 70px;
  }
}