.Button{
    background-color: #FFE600;
    width: 250px;
    height: 45px;
    text-align: center;
    font-family: "Inter";
    font-size: 14px;
    font-weight: bold;
    color:#2E2E38;
    border-radius: 3px;
}