.formLogin {
  max-width: 500px;
  width: 90%;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
.formPhoto {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 550px) {
  .formLogin {
    row-gap: 30px;
  } 
}

@media screen and (min-width: 1001px) {
  .formLogin {
    margin-top: 70px;
  }
}