.historyList {
  width: 100vw;
  height: 100vh;
  margin: 100px 0;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  column-gap: 30px;
  justify-content: center;
  align-items: flex-start;
  justify-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 20px;
}

.historyList::-webkit-scrollbar {
  width: 8px;
}
.historyList::-webkit-scrollbar-track {
  background: var(--color-EY-offBlack);
  border-radius: 10px;
}
.historyList::-webkit-scrollbar-thumb {
  background: var(--color-EY-gray01);
  border-radius: 20px;
}

@media screen and (min-width: 380px) {
  .historyList {
    margin-top: 80px;
  }
}