.centralize{
  width: 90%;
  height: 100vh;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
.containerHistory {
  width: 100%;
  max-width: 1024px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  background-color: var(--color-EY-offBlack);
  padding-top: 40px;
}
.containerOccurrence {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  background-color: var(--color-EY-offBlack);
}
.containerSlogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subContainerOccurrence{
  max-width: 600px;
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 30px;
  justify-content: center;
  align-items: flex-start;
  margin-top: 70px;
  margin-bottom: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.subContainerOccurrence::-webkit-scrollbar {
  width: 8px;
}
.subContainerOccurrence::-webkit-scrollbar-track {
  background: var(--color-EY-offBlack);
  border-radius: 10px;
}
.subContainerOccurrence::-webkit-scrollbar-thumb {
  background: var(--color-EY-gray01);
  border-radius: 20px;
}

.containerRadio {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 550px) and (max-width: 1000px) {
  .containerHistory {
    top: 105px;
  }
}

@media screen and (min-width: 1001px) {
  .centralize {
    flex-direction: row;
    column-gap: 100px;
  }
  .containerHistory {
    top: 105px;
  }
  .containerSlogan {
    margin-bottom: 55px;
  }
}