.centralize{
  width: 100vw;
  height: 100vh;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
.container-infos-occ{
  background-color: antiquewhite;
}

@media screen and (min-width: 1001px) {
  .centralize {
    flex-direction: row;
    column-gap: 100px;
  }
}