.centralize{
  width: 90%;
  height: 100vh;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
.containerHistory {
  width: 100%;
  max-width: 1024px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  background-color: var(--color-EY-offBlack);
}
.containerSlogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subContainerOccurrence{
  max-width: 600px;
  width: 90%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

@media screen and (min-width: 550px) and (max-width: 1000px) {
  .containerHistory {
    top: 105px;
  }
}

@media screen and (min-width: 1001px) {
  .centralize {
    flex-direction: row;
    column-gap: 100px;
  }
  .containerHistory {
    top: 105px;
  }
  .containerSlogan {
    margin-bottom: 100px;
  }
}