.textMessage {
  text-align: center;
  font-size: 1.25rem;
  color: var(--color-EY-gray02);
}

@media screen and (min-width: 550px) and (max-width: 1000px) {
  .textMessage {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1001px) {
  .textMessage {
    font-size: 1.75rem;
  }
}