.logoLogin {
  margin-left: 40px;
  max-width: 600px;
  height: 120px;
  margin-bottom: 30px;
}
.logo {
  height: 38px;
}

@media screen and (min-width: 550px) and (max-width: 1000px) {
  .logoLogin {
    height: 130px;
  } 
  .logo {
    height: 48px;
  }
}

@media screen and (min-width: 1001px) {
  .logoLogin {
    height: 200px;
    margin-bottom: 40px;
  }
  .logo {
    height: 60px;
  } 
}