.selectsSection {
  background-color: var(--color-EY-offBlack);
  justify-content: center;
  font-family: "Inter";
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.select-occurrence {
  background-color: var(--color-EY-offWhite);
  font-family: var(--font-default);
  color: var(--color-EY-offBlack);
  border: none;
}
