textarea {
  overflow: hidden;
  resize: none;
  outline: none;
}
.description {
  width: 100%;
  padding: 10px 20px;
  border-radius: 3px;
  text-align: justify;
  font-size: 1.125rem;
}
.description::placeholder {
  color: var(--color-EY-offBlack);
}
.containerPhoto {
  height: 70px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.labelPhoto {
  width: 280px;
}
.iconPhoto {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
input[type='file'] {
  display: none;
}
.textPhoto {
  height: 40px;
  color: var(--color-EY-offWhite);
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.textProgress {
  color: var(--color-EY-yellow);
  font-size: 1.125rem;
  text-align: center;
  margin: 10px 0;
}
.buttonPhoto {
  background: var(--color-EY-yellow);
  color: var(--color-EY-offBlack);
  font-weight: 600;
  width: 100%;
  padding: 5px 0;
  margin: 10px 0;
}
.formPhoto {
  width: 100%;
  max-width: 1024px;
}
.textRadio {
  color: var(--color-EY-offWhite);
  font-weight: 600;
  margin: 5px 0 30px 0;
  font-size: 1.25rem;
}
.labelRadio {
  color: var(--color-EY-offWhite);
  font-weight: 600;
  margin-right: 50px;
  font-size: 1.25rem;
}
input[type='radio'] {
  margin-right: 15px;
}