.mainHeader {
  width: 100%;
  max-width: 1024px;
  padding: 20px;
  background-color: var(--color-EY-offBlack);
  display: grid;
  grid-template-columns: 0.6fr 2fr 0.6fr;
  align-items: baseline;
  justify-items: start;
  position: fixed;
  top: 0;
}
.pageTitle {
  font-size: 1.5rem;
  color: var(--color-EY-gray02);
  font-weight: bold;
}

@media screen and (min-width: 450px) and (max-width: 730px) {
  .mainHeader {
    grid-template-columns: 0.6fr 3fr 0.6fr;
  }
}

@media screen and (min-width: 731px) {
  .mainHeader {
    grid-template-columns: 0.6fr 4fr 0.6fr;
  }
}

@media screen and (min-width: 550px) and (max-width: 1000px) {
  .pageTitle {
    font-size: 1.94rem;
  }
}

@media screen and (min-width: 1001px) {
  .pageTitle {
    font-size: 2.5rem;
  }
}
