.footer {
  max-width: 1024px;
  width: 100%;
  padding: 0 20px;
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
}
.footer p {
  font-size: 0.75rem;
  text-align: center;
  color: var(--color-EY-offWhite);
}

@media screen and (min-width: 550px) {
  .footer p {
    font-size: 0.875rem;
  }
}