:root {

  --color-EY-off-black: #2E2E38;
  --color-EY-gray-01: #747480;
  --color-EY-gray-02: #C4C4CD;
  --color-EY-off-white: #F6F6FA;
  --color-EY-yellow: #FFE600;
}
* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  font-size: 6px;
  background-color: var(--color-EY-off-black);
}
body {
  background-color: #2E2E38;
}
.hiperlink{
color: var(  --color-EY-off-white);
font-size: 20px;
display: flex;
cursor: pointer;
}
