.hiperlink{
  max-width: 600px;
  width: 90%;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  color: var(--color-EY-offWhite);
}
.historyHiperlink {
  margin-right: 7px;
  padding: 0;
  width: 92%;
  max-width: 830px;
  height: 45px;
  border-radius: 3px;
  background-color: var(--color-EY-yellow);
  color: var(--color-EY-offBlack);
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position:fixed;
  bottom: 100px;
}
.historyHiperlink:active { 
  transform: translateY(3px);
}

@media screen and (min-width: 550px) and (max-width: 1000px) {
  .hiperlink {
    font-size: 1.375rem;
  } 
  .button {
    height: 55px;
    font-size: 1.5rem;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1001px) {
  .hiperlink {
    font-size: 1.625rem;
  } 
  .historyHiperlink {
    width: 100%;
  }
  .button {
    height: 60px;
    font-size: 1.625rem;
    margin-top: 40px;
  }
}
