:root {
    --font-color-one: #2E2E38;
    --font-color-two: #747480;
    --font-color-three: #C4C4CD;
    --font-color-four: #F6F6FA;
    --font-color-five: #FFE600;
}

/* @font-face {
    font-family: 'actionManBold';
    src: url(../layout/fontes/Action_Man_Bold.ttf);
    font-weight: normal;
    font-style: normal;
} */